<div class="toggle-left-panel pull-left visible-xs">
    <button id="offcanvasleft" class="btn btn-xs"><i class="lui-icon lui-icon--unordered-list"></i></button>
</div>

<div class="row row-offcanvas row-offcanvas-left top-spacing">
    <div class="col-xs-6 col-sm-3 col-md-2 sidebar-offcanvas-left">
        <div class="col-xs-12 qvobject" id="QV08"></div>
        <div class="col-xs-12 qvobject" id="QV09"></div>
        <div class="col-xs-12 qvobject" id="QV10"></div>
        <div class="col-xs-12 qvobject" id="QV11"></div>
        <div class="col-xs-12 qvobject" id="QV12"></div>
        <div class="col-xs-12 qvobject" id="QV13"></div>
        <!-- <div class="col-xs-12 qvobject" id="QV14"></div> -->
    </div>

    <div class="col-xs-12 col-sm-9 col-md-10 fit-selection-spacing" style="height: 100%;">
        <div class="row" style="height:209px;">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 qvobject" id="QV06"></div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 qvobject" id="QV07"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-6 qvobject" id="QV01"></div>
            <div class="col-xs-12 col-sm-6 qvobject" id="QV02"></div>
            <div class="col-xs-12 col-sm-6 qvobject" id="QV03"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 qvobject" id="QV04"></div>
            <div class="col-xs-12 col-sm-6 qvobject" id="QV05"></div>
        </div>

    </div>
</div>







<!--<div class="row top-spacing">
    <div class="col-sm-12 col-lg-3 qvobject" id="QV01"></div>
    <div class="col-sm-12 col-lg-3 qvobject" id="QV02"></div>
    <div class="col-sm-12 col-lg-3 qvobject" id="QV03"></div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-3 qvobject" id="QV04"></div>
    <div class="col-sm-12 col-lg-12 qvobject" id="QV05"></div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-3 qvobject" id="QV06"></div>
    <div class="col-sm-12 col-lg-12 qvobject" id="QV07"></div>
</div>


<div class="col-xs-6 col-sm-3 col-sm-pull-9 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <div class="col-sm-12 col-lg-3 qvobject" id="QV08"></div>
        <div class="col-sm-12 col-lg-3 qvobject" id="QV09"></div>
        <div class="col-sm-12 col-lg-3 qvobject" id="QV10"></div>
        <div class="col-sm-12 col-lg-3 qvobject" id="QV11"></div>
        <div class="col-sm-12 col-lg-3 qvobject" id="QV12"></div>
        <div class="col-sm-12 col-lg-3 qvobject" id="QV13"></div>
        <div class="col-sm-12 col-lg-3 qvobject" id="QV14"></div>
        <div class="col-sm-12 col-lg-3 qvobject" id="QV15"></div>
    </div>
</div>-->