/** override qlik style **/

/** chrome and opera makes smart search symbol weird if default 16px **/
.qv-panel-current-selections .buttons-end .qv-subtoolbar-button i.lui-icon--search {
    font-size: 15px;
}

/** override qlik style end **/


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 50px; 
    overflow-y: scroll;
}
li, ul{
    list-style-type: none;
}
#main{
    height: 100%;
}
#current_selections{
    position:fixed; 
    left:0; 
    width:100%; 
    z-index: 999;
}
/*
* need to set the height for objects
* set top padding to make room for selection toolbar
*/
div.qvobject, div.qvplaceholder {
    padding: 30px 10px 10px 10px;
    /* padding-top: 30px; */
    height: 100%;
}

.qv-object.qv-selections-active { /* active obejects wont hide behind other containers */
    z-index: 990;
}

.qcmd {
    cursor: pointer;
}

#popup {
    background-color: #7f8c8d;
    color: #FFFFFF;
    position: fixed;
    padding: 10px;
    margin: 10px;
    bottom: 0;
    right: 0;
    display: none;
    border-radius: 5px;
    z-index: 9999;
}

#qbmlist{
    min-width:250px;
}
.row{
    height: 300px;
    margin-right: 0;
    margin-left: 0;
}
/* .main-view{
    margin-top: 36px;
    height: 100%;
} */
.top-spacing{
    margin-top: 35px;
}
.fit-selection-spacing{
    margin-top: 15px;
}
/*.qvobject{
    height:300px;
}*/

/*** header menu ***/

.main-nav-logo {
    display: block;
    float: left;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 50% 45%;
    background-image: url(../img/ist-logo.svg);
    width: 100px;
    height: 50px;
}

#show_app_info {
    position: absolute;
    color: #ffffff;
    left: 10px;
    top: 5px;
}

#show_app_info:hover {
    transform: scale(1.15);
    text-shadow: 1px 1px 2px #585858, 0 0 20px white, 0 0 5px #000000;
    text-decoration: none;
}

.navbar-custom{
    color: #fff;
    background-color: #497B99;
    height: 50px;
}

/* Overrides bootstrap */

/* .navbar-fixed-top {
    z-index: 1000;
}   */

.navbar-collapse.in, .navbar-collapse.collapsing {
    position: fixed;
    right: 15px;
    background-color: rgb(73, 123, 153);
    max-height: 500px;
    /* margin-top: -5px; */
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .nav>li>a:hover, 
.navbar-custom .nav>li>a:focus {
    color: #ffffff;
    background-color: transparent;
}
.nav>li.disabled>a,
.nav>li.disabled>a:hover, 
.nav>li.disabled>a:focus
{
    color: #428bca;
}
.navbar-toggle{
    border-color: #d4d4d4;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}

.dropdown-menu > li > a {
    display: inline-block;
}

/** Overrides bootstrap END **/

a[data-cmd="create"]{
    width: 100%;
}

#qbmlist .fa-trash-o {
    float: right;
}

#qbmlist .bookmark-title {
    width: 75%;
    overflow: hidden;
    padding-right: 0;
    text-overflow: ellipsis;
}

.lui-icon--bin { /* Delete bookmark icon */
    position: absolute
}

/* File import/export */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    width: 100%;
    min-width: 175px;
    font-weight: 400;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #000000;
}
.custom-file-upload:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

/*** header menu end ***/

/*** Tooltip ***/
.tooltip-popup {
    position: relative;
    display: inline-block;
}

.tooltip-popup .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 99999;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-popup .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-popup:hover .tooltiptext {
    visibility: visible;
}
/*** Tooltip END ***/

/*** fieldset list (Never used, replaced with extension) ***/
.selections-row{
    height: 200px;
}
.selections-wrapper .qv-inner-object{
    overflow: visible !important;
}
.selections-wrapper > div:first-of-type{
    display: table-row;
}
div.selections-wrapper {
    height: 100%;
    display: table
}

ul.horizontal-selections {
    border: none;
    width: 100%;
    height: 100%;
    overflow: visible;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.horizontal-selections li {
    border: 1px solid #ddd;
    margin-left: -1px; 
    display: inline-block;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-family: monospace, Courier, "Courier New";
}

.horizontal-selections li:first-child {
    border-radius: 4px 0 0 4px;
}
.horizontal-selections li:last-child {
    border-radius: 0 4px 4px 0;
}

li.qlik-inactive-selection{
    background-color: #A9A9A9;
    color: #FFFFFF;
}
li.qlik-possible-selection{
    background-color: #ddd;
    color: #595959;
}
li.qlik-active-selection{
    background-color: #52CC52;
    background-image: linear-gradient(top, #52cc52, #4dc04d);
    color: #FFFFFF;
}
li.qlik-hoover-selection{
    background-color: #61a729;
    color: #FFFFFF;
}
/*** fieldset list end ***/


/*** override qlik style ***/
.qv-global-selections {
    top: 86px;
}

/*** Sheets ***/

#sheet_nav {
    display:none;
	background: #497B99;
    position:fixed;
	width: 100%;
	z-index: 1000;
	overflow: hidden;
    text-decoration: none;
}
#sheet_nav div {
	color: #98BFD7;
	font-size: 1.9em;
	margin: 0;
	font-weight: 300;
    background: #545352;
    min-height: 42px;
	width: 20%;
	float: left;
}
#sheet_nav h3 {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 5px 10px;
    font-size: 1.1em;
	font-weight: 300;
}
#sheet_nav a {
	display: block;
	color: #fff;	
	float: left;
	width: 20%;
	padding: 0.9em;
	border-left: 1px solid #CEDFE9;
}
#sheet_nav a:hover {
	background: #3a6680;
    text-decoration: none;
}
#sheet_nav a:active {
	background: #3a6680;
}


@media screen and (max-width: 768px){
	#sheet_nav {
		font-size: 75%;
	}

    #sheet_nav a {
        width: 40%;
        padding: 1.1em;
    }
    .navbar-nav>li a, .navbar-nav>li label {
        color: #ffffff;
    }
    .navbar-nav .custom-file-upload {
        padding-left: 30px;
    }
    #show_app_info {
        left: 4px;
        top: 1px;
    }
}

/*** Sheets end ***/

/*** Left toggle sidebar ***/
.toggle-left-panel {
    position: fixed;
    z-index: 10;
    left: 5px;
    margin-top: 5px;
    height: 20px;
}

.row-offcanvas-left {
    -moz-transition: margin-left 0.2s;
    -webkit-transition: margin-left 0.2s;
    transition:  margin-left 0.2s; 
}

.sidebar-offcanvas-left > div{
    height:200px;
    margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
  }

  .row-offcanvas-left
  .sidebar-offcanvas-left{
    margin-left: -100%;
    width: 100%;
    /* background-color: #5b5a59; */
  }

  .row-offcanvas-left.active {
    margin-left: 50%;
  }

}
/*** Left toggle sidebar end ***/

/*** Loading animation ***/
#loading-animation{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccccccb3;
    z-index: 9999;
    color: white;
    display: inline-block;
}
#loading-animation div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}
#loading-animation p {
    color: #000000;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px #ffffff;
}

#loading-animation div {
    position: relative;
    display: block;
    width: 237px;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    border: 2px;
    background-color: #a9a9a9;
  }
   
  .bar {
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 50px;
    margin: 0 10px 0 10px;
    bottom: 10px;
  }
   
  .bar-one {
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0;
    background-color:#ED2424;
    box-shadow: 1px -1px #A90909, 2px -2px #A90909, 3px -3px #A90909, 4px -4px #A90909, 5px -5px #A90909, 6px -6px #A90909, 7px -7px #A90909, 8px -8px #A90909, 9px -9px #A90909, 10px -10px #A90909;
  }
   
  .bar-two {
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
    margin-left: 80px;
    background-color:#FFDD00;
    box-shadow: 1px -1px #F2BA00, 2px -2px #F2BA00, 3px -3px #F2BA00, 4px -4px #F2BA00, 5px -5px #F2BA00, 6px -6px #F2BA00, 7px -7px #F2BA00, 8px -8px #F2BA00, 9px -9px #F2BA00, 10px -10px #F2BA00;
  }
   
  .bar-three {
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    margin-left: 150px;
    background-color:#6B9CBA;
    box-shadow: 1px -1px #497B99, 2px -2px #497B99, 3px -3px #497B99, 4px -4px #497B99, 5px -5px #497B99, 6px -6px #497B99, 7px -7px #497B99, 8px -8px #497B99, 9px -9px #497B99, 10px -10px #497B99;
  }
  
  @keyframes move {
    0% {
      height: 10px;
      transform: scale(1.2);
    }
    10% {
        transform: scale(1);
    }
    50% {
      height: 120px;
    }
    70% {
        height: 120px;
    }
    90%{
        transform: scale(1);
    }
    100% {
      height: 10px;
      transform: scale(1.2);
    }
  }
/*** Loading animation End ***/

/*** Loading analytic spinner ***/
/* .reload-spin {
    -webkit-animation: reload-spin 1s infinite linear;
    -moz-animation: reload-spin 1s infinite linear;
    -o-animation: reload-spin 1s infinite linear;
    animation: reload-spin 1s infinite linear;
    -ms-transform-origin:50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin:50% 50%;
  }
  
  @-moz-keyframes reload-spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes reload-spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes reload-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
/*** Loading analytic spinner End ***/
